<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('js/angular.min.js') }}"></script>
        <script src="{{ asset('js/index.js') }}"></script>
    </head>
    <body>
      <div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
       </div>
    </body>
</html>
